.dashboard-home {
    min-height: calc(100vh - 70px);
    margin-left: 15rem;
    width: calc(100vw - 15rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 52, 59);
    /* padding: 2rem; */
}

p,
h1,
h2,
a {
    color: rgb(125, 138, 153)
}