.dash-container .events-container {
    /* margin: .75rem; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    flex: 1 1 70%;
}

.events-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 56, 65);
    flex: 1 1 50%;
    padding: 1.5rem;
    height: 100%;
    border-radius: .5rem;
}

.events-container h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(161, 183, 204);
    text-align: left;
}

.events-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    border: none;
}



.events-container ul::-webkit-scrollbar {
    width: 8px;
}

.events-container ul::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.events-container ul::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.events-container ul::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.events-container li {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid;
    border-radius: none;
    border-color: rgb(125, 138, 153);
    padding: 0.5rem;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
}

.events-container li div:first-child {
    font-size: 1.25rem;
    color: rgb(127, 152, 181);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.events-container li div:nth-child(2),
.events-container li div:nth-child(3) {
    font-size: 1rem;
    color: rgb(125, 138, 153);
    margin: 0;
}