.employee-container {
    background-color: rgb(47, 56, 65);
    color: rgb(125, 138, 153);
    width: 60%;
    min-height: 10rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid rgb(246, 67, 67);
}

/* tr:hover {
    background-color: rgb(246, 67, 67);
    color: white;
} */

.employee-container>a {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    transition: all .3s;
}

.employee-container>a:hover {
    color: rgb(246, 67, 67);
}