.company-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.company-detail>h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    color: rgb(161, 183, 204);
}

.money {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.money {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.money>div {
    flex-basis: calc(20% - 1rem);
    margin-bottom: 1rem;
    background-color: rgb(47, 56, 65);
    color: rgb(125, 138, 153);
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%)
}


.money div h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.company-detail>a {
    text-decoration: none;
    color: white;
    background-color: rgb(246, 67, 67);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: .6rem .9rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: all .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.company-detail>a:hover,
.company-detail>button:hover {
    opacity: .8;
}

.company-detail>button {
    color: white;
    background-color: rgb(246, 67, 67);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: .6rem .9rem;
    position: absolute;
    top: 2rem;
    right: 7rem;
    border: none;
    transition: all .3s;
    font-family: 'Roboto Slab', serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}