.dash-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .6rem .5rem;
    background-color: rgb(53, 62, 72);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 15rem;
}

.dash-nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-nav p,
.dash-nav i {
    color: rgb(204, 207, 209);
    font-size: 1.2rem;
    padding: 0 .5rem;
}

.dash-nav i {
    cursor: pointer;
    transition: color .4s;
}

.dash-nav i:hover {
    color: rgb(246, 67, 67);
}