.flex-row {
    display: flex;
    justify-content: space-evenly;
    /* height: 100%; */

}

.calendar-container {
    display: flex;
    justify-content: space-evenly;
    /* height: 100%; */
    width: 90%;
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 1.5rem; */
}

.flex-row .events-container {
    flex: 1 1 30%;
    /* background-color: rgb(1, 70, 70); */
    padding: 1rem;
    border-radius: 10px;
    height: 85vh;
    /* height: 100%; */
    overflow: auto;
}

.flex-row .events-container>h1 {

    text-align: center;
}

.events-container li {
    padding: .7rem;
    margin: .4rem 0;
    transition: all .3s;
    cursor: pointer;
}

.flex-row .events-container li:hover {
    opacity: .7;
}

.calendar {
    flex: 1 1 100%;
    margin-left: 1rem;
    color: white;

}

.fc-event-time {
    display: none;
}

@media screen and (max-width: 1030px) {
    .calendar-container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .calendar {
        margin: 0;
    }

    .calendar-container .events-container {
        flex: 1 1 45%;
    }

}