.calendar-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.events-container {
    flex: 1 1 30%;
    background-color: rgb(0, 170, 170);
    padding: 1rem;
    border-radius: 10px;
    height: 85vh;
    overflow: auto;
}

.events-container>h1 {
    color: black;
    text-align: center;
}

.events-container li {
    padding: .7rem;
    margin: .4rem 0;
    border-radius: .3rem;
    background-color: rgb(208, 118, 238);
}

.calendar {
    flex: 1 1 100%;
    margin-left: 1rem;
}

.fc-event-time {
    display: none;
}