.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 2rem;
    background-color: rgb(63, 71, 81);
    width: 100%;
}

.logo h1 {
    color: white;
    font-family: cursive;
    font-size: 2rem;
    margin: 0;
}

.login {
    text-decoration: none;
    color: white;
    background-color: rgb(246, 67, 67);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: .6rem .9rem;
    transition: all .3s;
}

.signup {
    text-decoration: none;
    color: white;
    background-color: rgb(246, 67, 67);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: .7rem 1.3rem;
    transition: all .3s;
}

.login:hover,
.signup:hover {
    opacity: .8;
}

.header-home {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.title {
    width: 100%;
}

.title h1 {
    text-align: center;
    margin: 0;
    margin-bottom: .8rem;
    font-size: 3.6rem;
}

.title h1>span {
    color: rgb(246, 67, 67);
}