.signup {
    text-decoration: none;
    color: white;
    background-color: rgb(246, 67, 67);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: .7rem 1.3rem;
    transition: all .3s;
    margin-bottom: 10rem;
}

.login:hover,
.signup:hover {
    opacity: .8;
}

.header-home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom right, rgb(96, 40, 80), rgb(20, 31, 56), rgb(39, 59, 102));
}



.title {
    width: 100%;
}

.title h1 {
    text-align: center;
    margin: 0;
    margin-bottom: .8rem;
    font-size: 3.6rem;
    color: rgb(255, 255, 255);
}

.title h1>span {
    color: rgb(246, 67, 67);
}

img {
    width: 70rem;
    height: 40rem;
    position: absolute;
    bottom: -20rem;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1.3rem;
    border: .7rem solid rgb(147, 147, 147);
    /* border-bottom: 0; */
    transition: all .4s;
}

/* .home-content {
    margin-top: calc(100vh + 18rem);
    width: 80%;
}

.home-content p {
    font-size: 1.3rem;
} */




.home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    margin-top: calc(100vh + 18rem);
}

.card {
    width: 20%;
    padding: 2rem;
    /* margin: 2rem; */
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    /* height: 13rem; */
}

.card h2 {
    margin-top: 0;
    font-size: 2rem;
    background-color: #604050;
    background-image: linear-gradient(45deg, #e86c33, #330092);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.card p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 600px) {

    .signup {
        font-size: 1.2rem;
        padding: .5rem 1rem;
        margin-bottom: 5rem;
    }

    .header-home {
        min-height: 80vh;
    }

    img {
        width: 90%;
        height: auto;
        bottom: -6rem;
        border-width: .4rem;
    }

    .home-content {
        margin-top: calc(80vh + 10rem);
        padding: 1rem 0;
    }

    .card {
        width: 80%;
        margin: 1rem;
        padding: 1rem;
    }

    .card h2 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 601px) and (max-width: 960px) {

    .signup {
        font-size: 1.3rem;
        padding: .6rem 1.2rem;
        margin-bottom: 7rem;
    }

    img {
        width: 90%;
        height: auto;
        bottom: -12rem;
        border-width: .5rem;
    }

    .home-content {
        margin-top: calc(100vh + 10rem);
    }

    .card {
        width: 40%;
        margin: 1.5rem;
        padding: 1.5rem;
    }

    .card h2 {
        font-size: 1.8rem;
    }

    .card p {
        font-size: 1.2rem;
    }

}

@media only screen and (m-width: 961px) {

    .signup {
        margin-bottom: 10rem;
    }

    img {
        width: 70rem;
        height: 40rem;
        bottom: -20rem;
        border-width: .7rem;
    }

    .home-content {
        margin-top: calc(100vh + 18rem);
    }

    .card {
        width: 20%;
        margin: 2rem;
        padding: 2rem;
    }

    .card h2 {
        font-size: 2rem;
    }

    .card p {
        font-size: 1.2rem;
    }

}