.add-company-container .add-title {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    text-align: center;
    color: rgb(161, 183, 204);
    margin-top: 0;
}

.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-company-container {
    width: 50%;
}

.add-company-container input[type="checkbox"] {
    height: 1.2rem;
    width: 1.2rem;
}

.add-company-container input {
    background: rgb(51, 61, 71);
    color: rgb(161, 183, 204);
    box-shadow: none;
    border: 1px solid #424e5a;
}